@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&family=Shippori+Antique+B1&family=Smooch+Sans:wght@100&display=swap');


html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Advent Pro', sans-serif;
    padding: 5px;
    margin: 0;
    background-color: black;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
  }
  a {
    text-decoration: none;
    color: white;
  }


/* **************************************************NAV************************************* */
  nav {
    position: fixed;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    background-color: #FFFAE1;
    position: relative;
  }
  header li {
    float: right;
    font-size: 1.2em;
  }
  header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
    font-size: 1.2em;
  }
/* *****************************************NAVBAR************************************************ */
#imagePrincipale {
    padding-top: 20px;
    background: url(img/cette-experience-permet-de-visualiser-la-radioactivite-de-l-uranium_0f8e4a1b307f0d5e81494a52fa38baf969e87306.jpg) no-repeat fixed 50% 50%;
    color: white;
    background-size: cover;
    height: 800px;
   
}
#contact{
    color: azure;
    text-align: center;
    padding: 10px;
}

#bloc {
    font-family: 'Shippori Antique B1', sans-serif;
    background-color: rgba(23, 120, 211, 0.705);
    height: max-content;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: #524A3A;
    font-size: 1em;
    text-align: center;
    color: #FFFAE1;
    float: inline-start;
}
#TexteInto {
    flex-grow: initial;
}
footer {
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: right;
  }
  form {
    margin: 0 auto;
    max-width: 900px;
  }
  input, textarea, button {
    border-radius: 10%;
    width: 80%;
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 10px;
  }
  textarea {
    height: 120px;
  }
  button {
    font-size: 1.5em;
    background-color: grey;
  }
  button:hover {
    background-color: plum;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
  }
  #copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
  }
  #icons {
    width: 50%;
    text-align: right;
  }
  #icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
  }
  #icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
  }
  